# Archivos generados por Android Studio
*.iml
.idea/*

# Archivos y directorios generados por Gradle
.gradle/
/build/
/captures/
/externalNativeBuild/
/cxx/
/bin/
/out/
.gradle-wrapper.jar
/gradle-wrapper.properties
/.gradle

# Archivos específicos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Otros archivos temporales
local.properties

# Archivos específicos del entorno de desarrollo
deploymentTargetSelector